# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
.env
application-local.properties
application-local.yml

# Java
*.class